<footer class="footer" style="background-color: aliceblue; text-align: center; padding: 1em;">
    <div class="social-icons">
      <i class="fa fa-1x fa-facebook"></i>
    <i class="fa fa-1x fa-twitter"></i>
    <i class="fa fa-1x fa-instagram"></i>
    </div>

    <h4 class="text-center pt-2">Copyright &copy; 2021 Design by Marine Services
      <br>
      <br>
      <p>Contact us</p>
      <ul>
        <li>Glory Kiogora</li>
        <li>Kelvin Bale</li>
        <li>Ian Baraka</li>
        <li>Edward Nunwa</li>
        </ul>
      </h4>
  </footer>