<div class="footer ">

  <div class="container">
    <div class="row mt-5 mb-5">
      <div class="col-md-6 ">
        <div class="card card-body block">
          <h5 class="text-center mb-3">Popular Roads</h5>

          <ul class="row">
            <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:#F69230;font-size:17px;"></i> <a href="/bus-tickets/Dhaka-to-Dinajpur" target="_blank" style="color:#333333;" title="New Zealand to India"> New Zealand to India</a></li>
            <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:#F69230;font-size:17px;"></i> <a href="/bus-tickets/Dhaka-to-Panchagor" target="_blank" style="color:#333333;" title="Alaska to Peru"> Alaska to Peru</a></li>
            <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:#F69230;font-size:17px;"></i> <a href="/bus-tickets/Dhaka-to-Nilphamari" target="_blank" style="color:#333333;" title="Palm Island to Horizontal Falls"> Palm Island to Horizontal Falls</a></li>
            <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:#F69230;font-size:17px;"></i> <a href="/bus-tickets/Dhaka-to-Kurigram" target="_blank" style="color:#333333;" title="Australia to Grenadines"> Australia to Grenadines</a></li>
            <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:#F69230;font-size:17px;"></i> <a href="/bus-tickets/Dhaka-to-Rangpur" target="_blank" style="color:#333333;" title="Greece to Zealand"> Greece to Zealand</a></li>
            <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:#F69230;font-size:17px;"></i> <a href="/bus-tickets/Dhaka-to-Thakurgaon" target="_blank" style="color:#333333;" title="USA to SA"> USA to SA</a></li>
            <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:#F69230;font-size:17px;"></i> <a href="/bus-tickets/Dhaka-to-Cox's Bazar" target="_blank" style="color:#333333;" title="Maldives to Florida"> Maldives to Florida</a></li>
            <li class="col-md-6"><i class="fa fa-map-marker" aria-hidden="true" style="color:#F69230;font-size:17px;"></i> <a href="/bus-tickets/Dhaka-to-Feni" target="_blank" style="color:#333333;" title="Seychelles to Scotland"> Seychelles to Scotland</a></li>

          </ul>

        </div>
      </div>

      <div class="col-md-6">
        <div class="card card-body block" >
          <div id="why_buy">
            <div class="info_right">
              <h5 class="text-center mb-3">Why buy tickets from us?</h5>
              <ul>
                <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i><b>Buy ship tickets</b> anytime from anywhere</li>
                <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i>Pay by credit card, mobile banking or cash</li>
                <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i>Get tickets delivered to your doorstep</li>
                <li><i class="fas fa-check mr-2" style="color:#F69230;font-size:17px;"></i>Dependable customer service <b>(8 AM to 11 PM)</b></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pt-5 mb-5 justify-content-center">
      <img src="" class="img-fluid" alt="">
    </div>
  </div>
</div>
