<section class="hero is-primary is-bold is fullHeight">
    <div class="hero-body">
        <div class="container has-text-centered">
            
            <h1 class="title">ABOUT US</h1>
            <p>Our customers come from all sectors of the marine industry such as cruise, private yacht, commercial, contractors, vessel managers, surveyors, and offshore oil rig workers travelling from their homes to their vessels and back again. The success of this business model has allowed us to expand globally. Global Marine Travel works directly with individuals as well as cruise lines and marine industry companies who engage GMT by contract for both one-off, dry-dock, new-build or regular crew rotations. To meet the ever-changing needs of our clients, we offer a full portfolio of services such as hotel, visa services, car rentals, crew transfers, rail, helicopters, charters, and all low-cost air carriers. Our agents are on duty 24 hours per day 7 days per week year round.</p>
             <br>
            <p>Marine transportation also encompasses passenger transportation, military and defense, fishing or marine resource applications, and maritime support such as navigation or vessel maintenance. All of these applications contribute to the overall environmental impact of marine transportation, though not as significantly as trade dominates the sector (Walker et al., 2019).</p>
        </div>
    </div>
</section>