.hero {
    background-image: url("/assets/img/home.jpeg") !important;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    font-weight: bolder;
    font-size: xx-large;
}
h3 {
    font-weight: 600;
}
ul {
    font-size: 19px;
    font-style: italic;
}
h2 {
    font-weight: bold;
}