<section class="hero is-primary is-bold is fullHeight">
    <div class="hero-body">
        <div class="container">
            <h1><strong><u>Welcome to the Marine Services.</u></strong></h1>
            <br>
            <h2 align="left">We offer the following services:</h2>
                <ul align="left">
                    <li>- Booking Services</li>
                    <li>- Trip advisory</li>
                    <li>- Transport to and from the airport</li>
                </ul>
                <br>
                <button class="button is-large is-primary"><a class="navbar-item" routerLink="/contact">Sign Up</a></button>
        </div>
    </div>
</section>
