<section class="hero is-primary is-bold is fullHeight">
    <div class="hero-body">
        <div class="container has-text-centered">
            
            <h1 class="title">SERVICES OFFERED </h1>
              <p>We use the latest systems and cutting edge technology to offer our customers. </p>
            <br>
              <p>Marine Travel is one of the few,true global travel management companies providing value and expertise to our customers from a range of marine sectors.</p>
              <ul>
                <li>We cover commercial</li>
                <li>Offshore and leisure</li>
                <li>Corporate and Marine support divisions</li>
              </ul>
              <br>
              <p>WATER SAFETY
                  <br>
                Captains are trained on how to handle an emergecy while on water.</p>
                <br>
                <p>First aid
                    <br>
                    When you provide basic medical care to someone experiencing a sudden injury or illness, it's known as first aid.</p>
                <br>
                <p>Food and Bedding
                    <br>
                    The procurement of food and accomodation is one of the best parts of marine travel as it is very comfortable and relaxing.</p>
        </div>
    </div>
</section>