<div class="navabar is-dark">
    <div class="navbar-brand">
      <a class="navbar-item"></a>
    </div>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/">Home</a>
      <a class="navbar-item" routerLink="/about">About</a>
      <a class="navbar-item" routerLink="/services">Services</a>
      <a class="navbar-item" routerLink="/contact">Sign Up</a>
      <a class="navbar-item" routerLink="/booking">Bookings</a>
      <a class="navbar-item" routerLink="/success">Review</a>
    </div>
  </div>