<div class="container-fluid">
  <h2 class="text-center">BOOKINGS</h2>
  <hr>
  <p>Welcome to Marine booking services.</p>
  <br>
  <p>Book for your journey as you wish.Have fun!!</p>
  <form #marineForm='ngForm'>
    <div class="form-group">
      <label for="name">Enter your name</label>
      <input type="text" size="30" required class="form-control" id="name">
    </div>

    <div class="form-group">
      <label for="class">Enter your travel class</label>
      <select name="class" id="class" form="class">
        <option value="first class">First class</option>
        <option value="business class">Business class</option>
        <option value="economy class">Economy class</option>
      </select>
    </div>

    <div class="form-group">
      <label for="trip">Enter your trip number</label>
      <input type="text" required="A971" size="30" id="trip">
    </div>

    <div class="form-group">
      <label for="email">Enter your email</label>
      <input type="email" size="30" id="email">
    </div>

    <div class="form-group">
      <label for="date">Travel date</label>
      <input type="date" required class="form-control" id="date">
    </div>

    <input type="submit" value="submit">
  </form>
</div>
